* {
	box-sizing: border-box;
}

@font-face {
	src: url('/fonts/firava.woff2') format('woff2-variations');
	font-display: swap;
	font-family: 'firava';
	font-weight: 100 900;
}
@font-face {
	src: url('/fonts/firava-italic.woff2') format('woff2-variations');
	font-display: swap;
	font-family: 'firava';
	font-style: italic;
	font-weight: 100 900;
}

html,
body {
	min-height: 100%;
}

html {
	line-height: 1.5;
	font-size: var(--font-size-regular);
	/* font-size: calc(clamp(1em, 0.5em + 1vw, 2em)); */
	font-weight: 400;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%; /* ios? */
	font-family: firava, system-ui, sans-serif;
	scroll-behavior: smooth;
	color-scheme: light dark;

	background: var(--gray-1);
	color: var(--gray-12);
}

body {
	margin: 0;
	cursor: default;
	overflow: hidden;
}

.scroll {
	overflow-y: auto;
	max-height: 100dvh;
	overscroll-behavior: contain;
	overflow-y: auto;
	scrollbar-width: thin;
	/*scrollbar-color: var(--white) var(--black);*/
}

/* WAIT LETS JUST TRY IT */
a,
blockquote,
body,
code,
dd,
div,
dl,
dt,
embed,
fieldset,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
img,
legend,
li,
ol,
p,
pre,
section,
table,
td,
th,
ul {
	/* user-select: none; */
}

@media (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

h1 {
	font-size: var(--font-size-title1);
	margin: 0;
}
h2 {
	font-size: var(--font-size-title2);
	margin: 0;
}
h3 {
	font-size: var(--font-size-title3);
	margin: 0;
}

img {
	max-width: 100%;
	display: block;
}

a {
	text-decoration-skip-ink: auto;
}
a {
	hyphens: auto;
}
a:link,
a:visited {
	color: var(--gray-12);
}
a:hover {
	/* color: var(--color-accent-light1); */
}
a:active,
a:focus {
}

input,
button,
textarea,
select {
	font: inherit;
}

hr {
	display: block;
	border: 0;
	height: 1px;
	background: var(--gray-3);
}

small {
	color: var(--gray-7);
}

ul,
figure {
	margin: 0;
}

.list {
	padding: 0;
	list-style: none;
}
.list > li {
	border-bottom: 1px solid var(--gray-4);
}
.list > li:hover {
	background: var(--gray-5);
}

r4-sign-in,
r4-sign-out,
r4-track-create {
	form,
	fieldset {
		display: flex;
		flex-flow: column;
	}
	form {
		gap: 0.5rem;
	}
	fieldset {
		margin: 0;
		border: 0;
		padding: 0;
		gap: 0.2rem;

		&[hidden] {
			display: none;
		}
	}
	legend,
	label {
		color: var(--gray-5);
	}
}

	textarea,
	input[type='email'],
	input[type='search'],
	input[type='password'],
	input[type='text'],
	input[type='url'] {
		font-size: var(--font-size-regular);
		min-height: 2rem;
		padding: 0 0.5rem;
		background: var(--gray-1);
		color: var(--gray-12);
		border: 1px solid var(--gray-6);
		border-radius: var(--border-radius);
	}

article:has(media-controller[mediapaused]) .play {
	display: inline-flex;
}
article:has(media-controller[mediapaused]) .pause {
	display: none;
}

article:not(:has(media-controller[mediapaused])) .play {
	display: none;
}

menu {
	padding: 0;
}
