button,
.btn {
	display: inline-flex;
	vertical-align: top;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	flex-shrink: 0;
	font-weight: 500;
	line-height: normal;
	transition-property: border, background-color, color, opacity;
	transition-duration: 100ms;
	user-select: none;
	position: relative;
	border-radius: var(--border-radius);

	/* questionable styles */
	font-size: var(--font-size-small);
	font-weight: 400;
	/* letter-spacing: 0.03em; */
	min-width: 1.75rem;
	min-height: 2rem;
	padding: 0 0.5rem;

	background: var(--gray-1);
	color: var(--gray-12);

	box-shadow:
		lch(0 0 0 / 0.06) 0px 4px 4px -1px,
		lch(0 0 0 / 0.12) 0px 1px 1px 0px;
	border: 1px solid var(--gray-5);
}

button:focus,
button:hover,
.btn:focus,
.btn:hover {
	background: var(--gray-4);
}

button:focus,
.btn:focus {
	outline: 3px solid var(--color-accent);
	outline-offset: -2px;
}

button:disabled,
.btn:disabled {
	background: var(--gray-1);

	:global(.icon) {
		opacity: 0.2;
	}
}

button.active,
.btn.active {
	border-color: var(--color-accent);
}

.IconBtn {
	border: 0;
	background: none;
	padding: 0;
}

button[data-loading='true'] {
	cursor: wait;
}

/* bit bigger */
button[type='submit'] {
	font-size: var(--font-size-regular);
	padding-left: 1rem;
	padding-right: 1rem;
}

a.btn {
	text-decoration: none;
}

button.danger,
.btn.danger {
	background: var(--color-red);
	color: white;
	border-color: var(--color-red);
}

button.danger:hover,
button.danger:focus,
.btn.danger:hover,
.btn.danger:focus {
	background: color-mix(in lab, var(--color-red), black 10%);
	border-color: color-mix(in lab, var(--color-red), black 10%);
}
