media-controller,
media-control-bar {
	/* --media-control-height: 2rem; */
	--media-background-color: transparent;

	/* --media-control-background: transparent; */
	--media-control-background: var(--button-bg);
	--media-control-hover-background: transparent;

	--media-control-background: var(--gray-1);
	--media-text-color: var(--gray-12);

	--media-button-icon-width: 1.5rem;
	--media-button-icon-height: 1.5rem;

	--media-button-padding: 0 0.5rem;

	--media-control-padding: 0.5rem;
	--media-primary-color: var(--gray-12);
	--media-text-color: var(--gray-12);
	--media-icon-color: var(--gray-12);
	--media-range-track-background: hsla(0, 0%, 0%, 0.2);
	--media-range-track-background: var(--gray-11);
	--media-loading-indicator-icon-width: 2rem;
	--media-loading-indicator-icon-height: 2rem;
}

media-time-display {
	user-select: none;
}

.player {
	h2 a,
	h3 a {
		text-decoration: none;
	}
	p {
		margin: 0;
	}
}

.player.compact {
	--size: 2.5rem;
	--gap: 0.2rem;

	display: flex;
	flex-flow: row nowrap;
	place-items: center;
	min-height: var(--size);
	padding: var(--gap);
	gap: var(--gap);

	.channel img,
	.artwork {
		max-width: none;
		width: var(--size);
		height: var(--size);
	}

	h3 {
		font-size: inherit;
	}

	.text {
		/* this allows the flex child to shrink. default is "auto" */
		min-width: 0;
	}

	/* no wrapping text */
	.text :where(h3, p) {
		line-height: 1;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	menu {
		margin-left: auto;
		/* margin-right: auto; */

		media-mute-button,
		button {
			/* equal width */
			flex: 1;
		}
	}

	.timebar {
		display: none;
	}

	.channel h2 {
		display: none;
	}

	youtube-video {
		display: none;

		position: fixed;
		left: 0;
		bottom: 3rem;
		aspect-ratio: 16/9;
		width: auto;
	}

	@media (max-width: 700px) {
		media-time-display {
			/* display: none; */
		}
		media-time-range {
			width: 60px;
		}

		media-mute-button,
		button {
			/* smaller */
			padding-left: var(--gap);
			padding-right: var(--gap);
		}
	}

	@media (max-width: 500px) {
		/* media-time-display, */
		.artwork,
		.prev,
		media-time-range {
			display: none;
		}
	}
}

media-time-display,
media-time-range {
	--media-control-background: none;
}

.player.expanded {
	margin: auto;
	max-width: 1080px;
	height: 100%;
	display: flex;
	flex-flow: column;
	place-items: center;
	padding: 2rem;

	.channel {
		display: flex;
		gap: 0.5rem;
		place-items: center;
		margin-bottom: auto;

		img {
			width: 4rem;
		}
	}

	.timebar {
		width: 100%;
	}

	/* track artwork is replaced by youtube video */
	.artwork {
		display: none;
	}

	.text {
		margin-top: 2rem;
		margin-bottom: 2rem;
		order: 1;
		/* avoid layout jumps when no track description */
		/* min-height: 4rem; */
		h3 + p small {
			font-size: var(--font-size-regular);
		}
	}

	media-controller:has(youtube-video) {
		width: 100%;
		background: black;
	}

	youtube-video {
		aspect-ratio: 16 / 9;
		height: auto;
	}

	/* hidden in expanded mode, because we have .timebar */
	menu :where(media-time-range, media-time-display) {
		display: none;
	}

	> menu {
		margin-top: auto;
		order: 5;

		/* bigger menu */
		media-mute-button,
		button {
			padding: 0.2rem 1rem;
		}
		svg {
			width: 2rem;
			height: 2rem;
		}
	}
}
