:root {
	/* --green: hsl(120, 21%, 52%); */
	/* --lavender: hsl(257, 62%, 82%); */
	/* --red: hsl(11, 78%, 38%); */
	/* --yellow: hsl(33, 82%, 58%); */

	--color-lavender: #c6b6ee;
	/* Variable parameters */
	--color-light-gray: #e8e8d3;
	/* Default text, namespace */
	--color-light-blue: #8fbfdc;
	/* Includes, directives, operators */
	--color-slate: #668799;
	/* Punctuation, delimiters */
	--color-green: #799d6a;
	/* Magic variables, escape chars */
	--color-red: #cf6a4c;
	/* Constants, enum members */
	--color-orange: #ffb964;
	/* Built-in primitive types */
	--color-tan: #c59f6f;
	/* Storage modifiers */

	--border-radius: 0.4rem;
	--font-size-micro: 0.6875rem;
	--font-size-mini: 0.75rem;
	--font-size-small: 0.8125rem;
	--font-size-regular: 0.9375rem;
	--font-size-large: 1.125rem;
	--font-size-title1: 2.25rem;
	--font-size-title2: 1.5rem;
	--font-size-title3: 1.25rem;
}

:root.light {
	color-scheme: light;
	--color-primary: var(--color-red);
	--color-bg-primary: lch(98.7% 0 282.863);
	--color-bg-secondary: lch(94.2% 2 282.863 / 1);
	--color-bg-tertiary: lch(92.2% 2 282.863 / 1);
	--color-bg-quaternary: lch(97.45% 0 282.863 / 1);
	--color-bg-quinary: 0;
	--color-text-primary: lch(9.87% 0 282.863 / 1);
	--color-text-secondary: lch(19.74% 1 282.863 / 1);
	--color-text-tertiary: lch(39.48% 1 282.863 / 1);
	--color-text-quaternary: lch(65.142% 1 282.863 / 1);
	--color-border-primary: lch(94.65% 0 282.863 / 1);
	--color-border-secondary: lch(89.25% 0 282.863 / 1);
	--color-border-tertiary: lch(85.2% 0 282.863 / 1);
}

@media (prefers-color-scheme: light) {
	:root {
		--color-bg-primary: lch(98.7% 0 282.863);
		--color-bg-secondary: lch(94.2% 2 282.863 / 1);
		--color-bg-tertiary: lch(92.2% 2 282.863 / 1);
		--color-bg-quaternary: lch(97.45% 0 282.863 / 1);
		--color-bg-quinary: 0;
		--color-text-primary: lch(9.87% 0 282.863 / 1);
		--color-text-secondary: lch(19.74% 1 282.863 / 1);
		--color-text-tertiary: lch(39.48% 1 282.863 / 1);
		--color-text-quaternary: lch(65.142% 1 282.863 / 1);
		--color-border-primary: lch(94.65% 0 282.863 / 1);
		--color-border-secondary: lch(89.25% 0 282.863 / 1);
		--color-border-tertiary: lch(85.2% 0 282.863 / 1);
	}
}

:root.dark {
	color-scheme: dark;

	--bg: hsl(0, 0%, 4%);
	--bg2: hsl(240, 6%, 7%);
	--bg3: hsl(225, 8%, 10%);
	--bg4: hsl(220, 5%, 12%);
	--bg5: hsl(227, 9%, 20%);
	--border: hsl(210, 1%, 34%);

	--color-primary: var(--color-red);
	--color-bg-primary: lch(4.8% 0.7 272);
	--color-bg-secondary: lch(10.633% 3.033 272 / 1);
	--color-bg-tertiary: lch(14.133% 4.2 272 / 1);
	--color-bg-quaternary: lch(7.133% 1.867 272 / 1);
	--color-bg-quinary: 0;
	--color-text-primary: lch(100% 0 272 / 1);
	--color-text-secondary: lch(90.65% 1.35 272 / 1);
	--color-text-tertiary: lch(62.6% 1.35 272 / 1);
	--color-text-quaternary: lch(38.29% 1.35 272 / 1);
	--color-border-primary: lch(9.77% 3.54 272 / 1);
	--color-border-secondary: lch(14.74% 3.54 272 / 1);
	--color-border-tertiary: lch(19% 3.54 272 / 1);
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(0, 0%, 4%);
		--bg2: hsl(240, 6%, 7%);
		--bg3: hsl(225, 8%, 10%);
		--bg4: hsl(220, 5%, 12%);
		--bg5: hsl(227, 9%, 20%);
		--border: hsl(210, 1%, 34%);

		--color-primary: var(--color-red);
		--color-bg-primary: lch(4.8% 0.7 272);
		--color-bg-secondary: lch(10.633% 3.033 272 / 1);
		--color-bg-tertiary: lch(14.133% 4.2 272 / 1);
		--color-bg-quaternary: lch(7.133% 1.867 272 / 1);
		--color-bg-quinary: 0;
		--color-text-primary: lch(100% 0 272 / 1);
		--color-text-secondary: lch(90.65% 1.35 272 / 1);
		--color-text-tertiary: lch(62.6% 1.35 272 / 1);
		--color-text-quaternary: lch(38.29% 1.35 272 / 1);
		--color-border-primary: lch(9.77% 3.54 272 / 1);
		--color-border-secondary: lch(14.74% 3.54 272 / 1);
		--color-border-tertiary: lch(19% 3.54 272 / 1);
	}
}
