:root {
	/* --green: hsl(120, 21%, 52%); */
	/* --lavender: hsl(257, 62%, 82%); */
	/* --yellow: hsl(33, 82%, 58%); */

	--color-green: #799d6a;
	--color-lavender: #c6b6ee;
	--color-light-blue: #8fbfdc;
	--color-light-gray: #e8e8d3;
	--color-orange: #ffb964;
	--color-purple: hsl(259.7, 80.3%, 50.2%);
	--color-red: hsl(11, 78%, 38%);
	--color-slate: #668799;
	--color-tan: #c59f6f;

	--border-radius: 0.4rem;
	--font-size-micro: 0.6875rem;
	--font-size-mini: 0.75rem;
	--font-size-small: 0.8125rem;
	--font-size-regular: 0.9375rem;
	--font-size-large: 1.125rem;
	--font-size-title1: 2.25rem;
	--font-size-title2: 1.5rem;
	--font-size-title3: 1.25rem;

	--gray-1: light-dark(lch(97.5% 0 282), lch(7% 1.867 272));
	--gray-2: light-dark(lch(94% 2 282), lch(10% 3.033 272));
	--gray-3: light-dark(lch(92% 2 282), lch(14% 4.2 272));
	--gray-4: light-dark(lch(89% 0 282), lch(19% 3.54 272));
	--gray-5: light-dark(lch(85% 0 282), lch(25% 3.54 272));
	--gray-6: light-dark(lch(75% 1 282), lch(35% 1.35 272));
	--gray-7: light-dark(lch(65% 1 282), lch(45% 1.35 272));
	--gray-8: light-dark(lch(55% 1 282), lch(55% 1.35 272));
	--gray-9: light-dark(lch(45% 1 282), lch(65% 1.35 272));
	--gray-10: light-dark(lch(35% 1 282), lch(75% 1.35 272));
	--gray-11: light-dark(lch(20% 1 282), lch(90% 1.35 272));
	--gray-12: light-dark(lch(10% 0 282), lch(95% 0 272));

	--color-accent: light-dark(var(--color-purple), var(--color-red));
	--color-accent-light1: color-mix(in lab, white, var(--color-accent) 20%);
	--color-accent-light2: color-mix(in lab, white, var(--color-accent) 10%);
	--color-accent-light3: color-mix(in lab, white, var(--color-accent) 5%);
	--color-accent-dark1: color-mix(in lab, black, var(--color-accent) 20%);
	--color-accent-dark2: color-mix(in lab, black, var(--color-accent) 10%);
	--color-accent-dark3: color-mix(in lab, black, var(--color-accent) 5%);
}

:root.light {
	color-scheme: light;
}

:root.dark {
	color-scheme: dark;
}
